.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: #ffffff;
  width: 420px;
  border-radius: 16px;
  padding: 28px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
  color:black
}

.field {
  margin-bottom: 18px;
}

.field label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.field input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid #dbe3ea;
  outline: none;
  font-size: 14px;
}

.field input:focus {
  border-color: #20b486;
  box-shadow: 0 0 0 3px rgba(32, 180, 134, 0.15);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.cancel-btn {
  padding: 10px 18px;
  border-radius: 12px;
  border: 1px solid #dbe3ea;
  background: rgb(122, 120, 120);
  cursor: pointer;
  font-weight: 600;
}

.add-btn {
  padding: 10px 20px;
  border-radius: 12px;
  background: #20b486;
  color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
